body {
	margin: 0;
	padding: 0;
	color: #000000;
	background: rgb(200,200,200);
}

button {
	width: 10%;
	background: none;
	border: none;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
}

.buttons {
    width: 100%;
    padding: 4% 0%;
    display: flex;
    justify-content: space-evenly;
}

button:hover {
	color: rgb(90, 90, 90);
}

#container {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.tiempos {
    display: flex;
    justify-content: space-between;
}

.player {
	width: 48%;
    margin 0px auto;
	font-size: 8em;
	background: rgba(70,70,70, 0.5);
	transition: 0.3s;
	cursor: pointer;
	user-select: none;
}

.player p {
    text-align: center;
}

.active {
	background: rgb(114,90,193);
	color: rgb(251,251,251);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media only screen and (max-width: 1200px) {
    #container {
        width: 80%;
    }
    .player {
        width: 85%;
    }
}

@media only screen and (max-width: 960px) {
    .player {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .tiempos {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 680px) {
    .player {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .tiempos {
        display: flex;
        flex-direction: column;
    }
}
