body {
	margin: 0;
	padding: 0;
	color: black;
	background: rgb(200,200,200);
}

p {
	margin-top: 20%;	
	line-height: 100%;
	text-align: center;
}

button {
	width: 10%;
	margin: 40px 105px;
	background: none;
	border: none;
	outline: none;
	transition: 0.3s;
	cursor: pointer;
}

button:hover {
	color: rgb(90, 90, 90);
}

#container {
	height: 450px;
	width: 70%;
	margin: 50px auto;
	padding: 0;
	background: rgb(220,220,220);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 25px 0 rgba(0,0,0,0.19);
}

.player {
	height: 50%;
	width: 35%;
	margin: 40px 7%;
	float: left;
	font-size: 5em;
	vertical-align: middle;
	line-height: 100%;
	background: rgba(70,70,70,0.5);
	transition: 0.3s;
	cursor: pointer;
	user-select: none;
}

.active {
	background: rgb(114,90,193);
	color: rgb(251,251,251);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

